<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar novo Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <style th:replace="~{fragforms :: style-form}"></style>
    <style>
        #form-search {
            display: flex;
            align-items: center;
            padding: 5px;
            border: 2px solid darkslategray;
            border-radius: 5px;
            height: 50px;
            width: 278px;
        }

        #form-search input {
            height: 46px;
            border:none;
            outline: none;
        }

        #form-search button {
            height: 46px;
        }
    </style>

</head>

<body>

<section  id="section-home">
    <h2>Registrar Venda</h2>

    <div class="arrow-back">
        <button  class="btn-back" onclick="window.location.href = '/sales'">
            <i  style="color: rgb(73, 72, 71);" class="fa-solid fa-arrow-left"></i>
            <span style="color:rgb(73, 72, 71);">Voltar</span>
        </button>
    </div>

    <div th:replace="~{fragments :: error}"></div>

    <form style="border-bottom: none;" action="searchProductCreate" method="post">
        <div id="form-search">
            <input name="nameProduct" placeholder="Digite o nome do produto">
            <button type="submit" class="btn btn-dark">Procurar</button>
        </div>
    </form>

    <form style="border-top: none;" action="/sales/create" method="post" onsubmit="validadeForm(event)">
        <div class="d-flex justify-content-space-between">
            <div class="mb-3">
                <label for="inputProductName" class="form-label">Produto</label>
                <select name="nameProduct" id="inputProductName">
                    <option th:each="product : ${products}"
                            th:value="${product.name}" th:text="${product.name}">
                    </option>
                </select>
            </div>
            <div class="mb-3" style="margin-left: 40px;">
                <label for="inputQuantity" class="form-label">Quantidade</label>
                <input type="number" min="1" step="1" class="form-control" id="inputQuantity" name="quantity" style="width: 60%;">
            </div>
            
        </div>

        <div class="box-input">
            <div class="mb-3">
                <label for="inputClientName" class="form-label">Cliente</label>
                <select name="nameClient" id="inputClientName">
                    <option th:each="client : ${clients}"
                            th:value="${client.name}" th:text="${client.name}">
                    </option>
                </select>
            </div>
            <div class="mb-3 payment">
                <label for="inputFormPayment" class="form-label">Forma de Pagamento</label>
                <select name="payment" id="inputFormPayment">
                    <option th:each="status : ${T(com.victoralexandre.appcalcis.enums.FormOfPayment).values()}"
                            th:value="${status}" th:text="${status}">
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Lançar</button>
    </form>
    <div th:replace="~{fragments :: fragmodalform('Nova Venda', 'Venda lançada com sucesso!')}"></div>
</section>

<script>
    function validadeForm(event) {
        const input = document.getElementById("inputQuantity");

        if(input.value === "") {
            alert("Todos os campos devem estar preenchidos");
            event.preventDefault();
            return false;
        }
        return true;
    }
</script>
</body>
</html>