<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produtos Inativos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style th:replace="~{fragments :: style}"></style>
</head>
<body>
    <header th:replace="~{fragments :: header('Clientes Inativos')}"></header>

    <div class="header-section">
        <div th:replace="~{fragments :: div-back}" class="arrow-back"></div>
    </div>

    <div class="body-section">
        <table class="responsive-table table table-bordered table-striped table-light">
            <thead>
                <tr>
                    <th scope="col-1">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Pedidos</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Ações</th>>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client : ${inactives}">
                    <td data-label="ID:"
                    th:text="${client.id}">--</td>

                    <td data-label="Name:"
                    th:text="${client.name}">--</td>

                    <td data-label="Pedidos:"
                    th:text="${#lists.size(client.sales)}">--</td>

                    <td data-label="Telefone:"
                    th:text="${client.phoneNumber}">--</td>

                    <td data-label="Email:"
                    th:text="${client.email}">--</td>

                    <td data-label="Endereço:"
                    th:text="${client.adress}">--</td>

                    <td  data-label="Ações"
                    class="actions"
                    style="display: flex; align-items: center; justify-content: space-between;">
                        <a th:href="@{/clients/edit/{id} (id = ${client.id}) }">
                            <i class="fa-solid fa-pen"></i>
                        </a>

                        <a th:href="@{/clients/active/{id} (id = ${client.id}) }">ATIVAR CLIENTE</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>